﻿@model SimpleImageEditor.Controllers.Editor

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-utf-8" />
    <title>Simple Image Editor</title>
    <style type="text/css">
        body, html, h1
        {
            padding: 0;
            margin: 0;
            font: 12px arial;
        }

        body
        {
            padding: 10px 15px;
        }

        h1
        {
            font: bold 20px Arial;
            color: #A1A1A1;
            margin: 20px 0 10px 0;
        }

     
        a, a:hover
        {
            color: #000;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="/Content/imgareaselect-animated.css" />
    <link rel="stylesheet" type="text/css" href="/Content/fc-cropresizer.css" />
    <link rel="stylesheet" type="text/css" href="/Content/slider.css" />
    <script type="text/javascript" src="/Scripts/custom.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.imgareaselect_custom.dev.js"></script>
    <script type="text/javascript" src="/Scripts/jQueryRotate.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-slider.js"></script>
    <script type="text/javascript">
       
    </script>
</head>

<body onselectstart="return false;">
 
        <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Image Editor</a>
                </div>
            <div class="collapse navbar-collapse" >
               
  
                <ul class="nav navbar-nav navbar-left " style=" width: 70% " >
                    <li class="col-md-4">
                        <input id="Rotate" type="text" class="" value="" data-slider-min="0" data-slider-max="360" data-slider-step="1" data-slider-value="0" data-slider-orientation="horisontal"  data-slider-selection="after"data-slider-tooltip="hide" />
                    </li>
                    <li class="col-md-4">
                        <input id="sumbit"  class="btn btn-primary " value=" Send"/>
                    </li>
                    <li class="col-md-4">
                        <p class="navbar-text ">Created by Leonid Kulinchik Dec.Mac.klo@Gmail.com</p>
                            
                    </li>
                </ul>
                     
            </div>
            </nav>

        <div>
         
            <div class=" col-md-10 ">
                <div id="worksurface" class="well">
                    <img id="@Model.Id" src="/Content/@Model.Image" alt="" />
                </div>
            </div>

        </div> 
</body>

<script>
    SimpleImageEditor.getObject("@Model.Id").init({
       rotateSlider: $('#Rotate'),
        source:'@Model.Image',
       aspectRatio: '3:2',
        onUpdate: function () {
        }
    });
</script>

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")


</html>
